################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckinManagementSystem/obj/Debug/CheckinManagementSystem.csproj.AssemblyReference.cache
/CheckinManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
